.root {
  width: 100% !important;
  padding: 0 1rem !important;
  background: rgba(0, 0, 0, 0.8) !important;
  color: var(--white) !important;

  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}
