.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-button-prev {
  color: var(--orange) !important;
  text-shadow: 0 0 0.5rem var(--pink);
}

.swiper-button-next {
  color: var(--orange) !important;
  text-shadow: 0 0 0.5rem var(--pink);
}

.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: var(--gradient);
}
