.addr {
  inline-size: 55vw;
  overflow-wrap: break-word;
}
.addr > span {
  font-size: 0.8rem;
}

.inp {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem 0;
  background: var(--white);
  border-radius: 4px;
  border: none;
  text-align: center;
}

.inp::placeholder {
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .inp {
    width: 80%;
  }
}
