.root {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto 5rem auto;
  color: var(--grey);
}

.root > h1 {
  text-align: center;
}

.partnersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partner {
  margin: 0.5rem auto;
  cursor: pointer;
}

.partner > h5 {
  margin: 0;
  text-align: center;
  user-select: none;
}

@media only screen and (min-width: 768px) {
  .partnersWrapper {
    flex-direction: row;
  }

  .partner {
    margin: auto 2rem;
  }
}
