.optionsWrapper {
  margin: 0.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.optionsWrapper > div {
  display: flex;
}

.togglesWrapper {
  width: 100%;
  justify-content: space-evenly;
}

.listOfFilters {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .optionsWrapper {
    flex-direction: row;
    align-items: none;
  }

  .togglesWrapper {
    width: fit-content;
  }

  .listOfFilters {
    flex-flow: row wrap;
    justify-content: center;
  }
}
