.price {
  width: 55px;
  line-height: 55px;
  padding: 5px;

  background-color: var(--brown-75);
  border-radius: 100%;
  box-shadow: 0 0 3px var(--white) inset;
  font-size: 1rem;
  text-align: center;

  cursor: pointer;
  transition: all 0.2s ease-out;

  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 2;
}
.price span {
  font-size: 0.8rem;
}
.price:hover {
  background-color: var(--orange);
}

.timeAgo {
  font-size: 0.8rem;

  position: absolute;
  bottom: 2px;
  left: 50%;
  z-index: -2;
}

.img {
  background: radial-gradient(circle at top right, transparent 42px, var(--brown-25) 0);
  background-position: center;

  border-radius: 25% 50%;
  border-top-right-radius: 70% 100%;
  border-bottom-left-radius: 70% 100%;

  box-shadow: 0 0 3px 1px var(--brown) inset;
}
