.addr {
  inline-size: 55vw;
  overflow-wrap: break-word;
}
.addr > span {
  font-size: 0.8rem;
}

.mintModal {
  max-width: 420px;
  display: flex;
  flex-direction: column;
}
.mintModalDevision {
  margin: 1rem 0;
  text-align: center;
}
.mintModalDevision * {
  margin: 0;
}
