.cardImageWrapper {
  position: relative;
}

.cardImage {
  border: 1px solid var(--black);
  border-radius: 1rem 1rem 0 0;
}

.cardLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
