.root {
  width: 100%;
  margin-top: auto;
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: var(--grey);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: static;
  z-index: -1;
}

.root p {
  font-size: 0.69rem;
}

.cardano {
  height: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
