.root {
  min-height: 90px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: var(--grey);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: static;
  z-index: -1;
}
