.wrapper {
  position: relative;
}

.img {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 1rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
