.root {
  width: fit-content;
  padding: 1rem;
  margin: 0.5rem auto 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(0.4rem);
  backdrop-filter: blur(0.4rem);
  box-shadow: 0 0 0.5rem var(--white);
}

.root > h2,
.root > p {
  margin: 0.5rem 0;
  text-align: center;
}
