.categoryButtons {
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.categoryButtons button {
  margin: 0.5rem 0.1rem 0 0.1rem;
  cursor: pointer;
}

.selectedButton {
  background-color: var(--orange) !important;
}

.traitCatalog {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
