.addForm {
  width: 555px;
  margin: 1rem;
  position: relative;
}

.addForm > button {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.hide {
  display: none;
}

.syncWrapper {
  margin: 0 auto 2rem auto;
  background-color: var(--charcoal);
  border: 1px solid var(--charcoal);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.syncWrapper > p {
  max-width: 420px;
  margin: 0.5rem;
  text-align: justify;
}

.walletItem {
  margin: 0.5rem 0;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--charcoal);
  border-radius: 1rem;
}

.walletItem > p {
  flex: 1;
  margin: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* direction: rtl;
  text-align: left; */
}

.walletItem > button {
  margin-right: 7px;
  padding: 0;
  background: transparent;
  color: var(--pink);
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .addForm {
    width: 100%;
  }

  .syncWrapper > p {
    max-width: 75vw;
  }

  .walletItem {
    width: 90vw;
  }
}
