.root {
  width: 100%;
  padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .root {
    max-width: 40vw;
    margin: 2rem 1rem 0 auto;
    padding: 0.1rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(0.4rem);
    backdrop-filter: blur(0.4rem);
    box-shadow: 0 0 0.7rem var(--white);
  }
}
