.root {
  margin-top: 1rem;
}

.headingSmall {
  margin: 0;
  font-size: 1rem;
  text-align: center;  
}
.headingBig {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.title {
  font-size: 1rem;
}
.integer {
  font-size: 3.5rem;
}
.colon {
  font-size: 3.5rem;
}

@media only screen and (min-width: 768px) {
  .root {
    margin-top: 5rem;
  }

  .headingSmall {
    font-size: 1.5rem;
  }
  .headingBig {
    font-size: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }
  .integer {
    font-size: 5rem;
  }
  .colon {
    font-size: 5rem;
  }
}
