@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-400;
  }
}

:root {
  --online: #44b700;
  --offline: #b74400;

  --cardano-blue: #1231a6;
  --discord-purple: #7289da;

  --orange: rgb(255, 80, 55);
  --pink: rgb(255, 0, 130);
  --gradient: linear-gradient(65deg, var(--orange), var(--pink));
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('/media/landing/bg.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

model-viewer {
  width: 300px;
  height: 300px;
}
@media only screen and (min-width: 768px) {
  model-viewer {
    width: 450px;
    height: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  model-viewer {
    width: 600px;
    height: 600px;
  }
}
