.root {
  max-width: 90vw;
  width: 100%;
  margin: 5rem auto;
}

.img {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 768px) {
  .root {
    margin: 10rem auto;
  }
}
